*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background:#f5f0ff;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:500px;
}

header{
    text-align:center;
    margin-bottom:30px;
}

h1{
    color:#7863aa;
    font-size:3rem;
}

p{
    color:#666;
    margin-top:10px;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

input{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#f3f4f6;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#7863aa;
    color:white;
    cursor:pointer;
    font-size:16px;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    background:#f9fafb;
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
    cursor:pointer;
}

.completed{
    text-decoration:line-through;
    opacity:0.6;
}

.counter{
    margin-top:20px;
    text-align:center;
    font-weight:bold;
    color:#7863aa;
}